*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-color: skyblue;
    color: black;
    font-size: 25px;
    font-weight: bold;
    margin: 40px;
}

.prime_number{
    text-align: center;
}

h4{
   font-size: 20px; 
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}